.container {
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.error {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  justify-content: center;
}

.tabs::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}

.tab {
  font-size: 16px;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.categoryWrapper {
  margin-top: 20px;
}

.subCategoryTitle {
  margin: 20px 0;
  font-size: 18px;
  color: var(--book-title-text-color);
  font-weight: bold;
}

.bookList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 15px;
  padding-bottom: 10px;
  scrollbar-width: thin; /* Modern browsers */
  scroll-snap-type: x mandatory; /* Smooth scrolling effect */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.bookList::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and other WebKit browsers */
}
